@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  margin-bottom: 40px;

  .container {
    width: 1269px;
    max-width: 90%;
    padding-top: clamp(24px, 5vw, 40px);

    nav {
      display: flex;
      gap: 33px;
      a {
        color: #83888f;
        font-family: Barlow;
        font-weight: 700;
        font-style: Bold;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.92px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
#section1 {
  margin-bottom: 80px;
  .container {
    width: clamp(343px, 80vw, 1280px);
    height: clamp(400px, 500px, 450px);
    background-image: url(./materials/Background.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    main {
      width: 445px;
      height: 176px;
      display: flex;
      gap: 24px;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        width: 303px;
        height: 34px;
        font-family: Fraunces;
        font-weight: 900;
        font-style: Black;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: center;
        color: #fefcf7;
      }
      p {
        width: 303px;
        height: 156px;
        font-family: Barlow;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        text-align: center;
        color: #fefcf7;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #section1 .container {
    width: 704px;
    height: 400px;

    background-image: url(./materials/Background1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    main {
      width: 445px;
      height: 173px;
      justify-content: flex-start;
      h1 {
        width: 445px;
        height: 45px;
        text-align: start;
      }
      p {
        width: 445px;
        height: 104px;
        text-align: start;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  #section1 .container {
    width: 1270px;
    background-image: url(./materials/About\ Image.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    main {
      h1 {
        text-align: left;
      }
      p {
        text-align: left;
      }
    }
  }
}

#section2 {
  margin-bottom: 162px;
  .container {
    width: 343px;
    height: 892px;
    display: flex;
    gap: 48px;
    flex-direction: column;
    padding: 0 !important;
    .content {
      width: 343px;
      height: 444px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        font-family: Fraunces;
        font-weight: 900;
        font-style: Black;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: center;
      }
      p {
        width: 343px;
        height: 390px;
        opacity: 0.8;
        font-family: Barlow;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        text-align: center;
        color: #333d4b;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #section2 .container {
    flex-direction: row;
    width: 704px;
    height: 520px;

    .imgs {
      width: 280px;
      height: 520px;
      background-image: url(./materials/Commitment\ Image1.svg);
      img {
        display: none;
      }
    }
    .content {
      width: 376px;
      height: 520px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        text-align: start;
      }
      p {
        text-align: start;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  #section2 .container {
    flex-direction: row;
    width: 1000px;
    height: 520px;
    gap: 90px;

    .imgs {
      width: 445px;
      height: 520px;
      background-image: url(./materials/Bitmap\ \(2\).svg);
      img {
        display: none;
      }
    }
    .content {
      width: 540px;
      height: 520px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        text-align: start;
      }
      p {
        width: 540px;
        height: 260px;
        opacity: 0.8;
        text-align: start;
      }
    }
  }
}
#section3{

 .container {
  width: 343px;
  height: 508px;
  background-color: #333d4b;
  main {
    transform: translateY(-80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    .imgs {
      width: 280px;
      height: 156px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .content {
      width: 303px;
      height: 356px;
      h3 {
        font-family: Fraunces;
        font-weight: 900;
        font-style: Black;
        font-size: 32px;
        line-height: 140%;
        letter-spacing: 0px;
        text-align: center;
        color: #fefcf7;
      }
      p {
        opacity: 0.8;
        font-family: Barlow;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        text-align: center;
        color: #fefcf7;
      }
    }
  }
}}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #section3 .container {
    width: 704px;
    height: 622.99951171875px;
    main {
      gap: 140px;
      .imgs {
        width: 573px;
        height: 300px;
        background-image: url(./materials/sec3-2.svg);
        img {
          display: none;
        }
      }
      .content {
        width: 540px;
        height: 195px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
          opacity: 0.8;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  #section3 .container {
    width: 1280px;
    height: 434px;
    display: flex;
    justify-content: center;
    align-items: center;

    main {
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-direction: row-reverse;
      transform: translateY(0);
      padding: 0;
      padding-left: 80px;
      padding-right: 85px;
      .imgs {
        width: 445px;
        height: 474px;
        background-image: url(./materials/sec3-3.svg);
        transform: translateY(-68px);
        img {
          display: none;
        }
      }
      .content {
        width: 540px;
        height: 210px;

        h3 {
          text-align: start;
        }
        p {
          text-align: start;
        }
      }
    }
  }
}
