@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  margin-bottom: 40px;

  .container {
    width: 1269px;
    max-width: 90%;
    padding-top: clamp(24px, 5vw, 40px);

    nav {
      display: flex;
      gap: 33px;
      a {
        color: #83888f;
        font-family: Barlow;
        font-weight: 700;
        font-style: Bold;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.92px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
#section1 {
  .container {
    width: 343px;
    height: 400px;
    background-image: url(./materials/Background.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    main {
      display: flex;
      gap: 24px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        width: 303px;
        height: 34px;
        font-family: Fraunces;
        font-weight: 900;
        font-style: Black;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: center;
        color: #fefcf7;
      }
      p {
        width: 303px;
        height: 156px;
        font-family: Barlow;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        text-align: center;
        color: #fefcf7;
      }
    }
  }
}
