@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  margin-bottom: 40px;

  .container {
    width: 1269px;
    max-width: 90%;
    padding-top: clamp(24px, 5vw, 40px);

    nav {
      display: flex;
      gap: 33px;
      a {
        color: #83888f;
        font-family: Barlow;
        font-weight: 700;
        font-style: Bold;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.92px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
#section1 {
  margin-bottom: 80px;
  .container {
    width: 343px;
    height: 400px;

    background-image: url(../Subscribe/materials/Bitmap\ \(1\).svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    main {
      width: 303px;
      height: 176px;
      display: flex;
      gap: 24px;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        width: 295px;
        height: 40px;
        font-family: Fraunces;
        font-weight: 900;
        font-style: Black;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        color: #fefcf7;
      }
      p {
        width: 303px;
        height: 156px;
        font-family: Barlow;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        text-align: center;
        color: #fefcf7;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #section1 .container {
    width: 704px;
    height: 400px;

    background-image: url(../Subscribe/materials/sec1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    main {
      width: 303px;
      height: 173px;
      justify-content: flex-start;
      h1 {
        width: 303px;
        height: 45px;
        text-align: start;
      }
      p {
        width: 303px;
        height: 104px;
        text-align: start;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  #section1 .container {
    width: 1270px;
    background-image: url(../Subscribe/materials/Subscribe\ Image.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-start;

    main {
      width: 445px;
      height: 176px;

      h1 {
        text-align: left;
      }
      p {
        text-align: left;
      }
    }
  }
}
#section2 {
  .container {
    width: 343px;
    height: 1100px;
    background-color: #333d4b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .desktop {
      display: none;
    }
    .tablet {
      display: none;
    }
    .steps {
      width: 311px;
      height: 959px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .step {
        width: 311px;
        height: 323px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        h1 {
          font-family: Fraunces;
          font-weight: 900;
          font-style: Black;
          font-size: 72px;
          line-height: 100%;
          letter-spacing: 0px;
          text-align: center;
          color: #fdd6ba;
        }
        h3 {
          font-family: Fraunces;
          font-weight: 900;
          font-style: Black;
          font-size: 32px;
          line-height: 113.99999999999999%;
          letter-spacing: 0px;
          text-align: center;
          color: #fefcf7;
        }
        p {
          font-family: Barlow;
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          line-height: 160%;
          letter-spacing: 0px;
          text-align: center;
          color: #fefcf7;
          opacity: 0.8;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #section2 {
    .container {
      width: 704px;
      height: 624px;
      main {
        display: flex;
        flex-direction: column;
        gap: 64px;
        .desktop {
          display: none;
        }
        .tablet {
          display: block;
        }
      }

      .steps {
        width: 640px;
        height: 401px;
        flex-direction: row;
        gap: 32px;
        .step {
          width: 192px;
          height: 401px;
          gap: 24px;
          h1 {
            text-align: start;
          }
          h3 {
            text-align: start;
          }
          p {
            text-align: start;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  #section2 {
    .container {
      width: 1280px;
      height: 642px;

      main {
        display: flex;
        flex-direction: column;
        gap: 64px;
        aside {
          align-items: start;
          justify-content: start;
          width: 881px;
          height: 31px;
          .desktop {
            display: block;
          }
          .tablet {
            display: none;
          }
        }
      }
      .steps {
        width: 1045px;
        height: 355px;
        gap: 95px;
        flex-direction: row;

        .step {
          width: 285px;
          height: 365px;
          gap: 40px;
          h1 {
            text-align: start;
          }
          h3 {
            width: 285px;
            height: 72px;
            font-size: 42px;
            text-align: start;
          }
          p {
            width: 285px;
            height: 130px;
            text-align: start;
          }
        }
      }
    }
  }
}

#section3 {
  margin-top: 64px;
  .container {
    width: 343px;
    gap: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .line {
      padding-left: 12px;
      padding-right: 12px;
      width: 343px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      .br {
        width: 100%;
        height: 1px;
        opacity: 0.25;
        border-top: 1px solid #83888f;
        background-color: #83888f;
      }

      aside {
        display: flex;
        gap: 24px;
        h2 {
          font-family: Fraunces;
          font-weight: 900;
          font-style: Black;
          font-size: 24px;
          line-height: 150%;
          letter-spacing: 0px;
          color: #0e8784;
        }
        h4 {
          font-family: Fraunces;
          font-weight: 900;
          font-style: Black;
          font-size: 24px;
          line-height: 150%;
          letter-spacing: 0px;
          color: #333d4b;
        }
      }
      .hideContent {
        h2 {
          color: #83888f;
        }
        opacity: 0.4;
      }
    }

    .collapse2 {
      width: 343px;
      .accordion-button:focus {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        color: #aa9180;
        background-color: #2c343e;
      }

      .accordion-button:not(.collapsed) {
        background-color: transparent;
        box-shadow: none;
      }
      button {
        transition: 0.3s;
      }

      button:hover {
        background-color: #fefcf7;
      }
      .accordion-body {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 10px;
      }
      .container {
        width: 343px;
        gap: 16px;

        button {
          font-family: Fraunces;
          font-weight: 900;
          font-style: Black;
          font-size: 28px;
          line-height: 120%;
          letter-spacing: 0px;
          color: #83888f;
        }
        main:hover {
          background-color: #fdd6ba;
          color: #2c343e;
          cursor: pointer;
        }
        main {
          border-radius: 8px;
          padding: 24px;
          display: flex;
          flex-direction: column;
          gap: 16px;
          background-color: #f4f1eb;
          transition: background-color 0.3s ease;

          h3 {
            font-family: Fraunces;
            font-weight: 900;
            font-style: Black;
            font-size: 28px;
            line-height: 120%;
            letter-spacing: 0px;
            color: #333d4b;
          }
          p {
            font-family: Barlow;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0px;
            color: #333d4b;
          }
        }
      }
    }
    .orderSummary {
      width: 343px;
      height: 274px;
      padding: 2rem;
      background-color: #2c343e;
      display: flex;
      gap: 8px;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      h4 {
        font-family: Barlow;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: #ffffff;
        opacity: 0.5;
      }
      h3 {
        width: 295px;
        height: 144px;
        font-family: Fraunces;
        font-weight: 900;
        font-style: Black;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0px;
        color: #ffffff;
      }
    }
    .btnPlan {
      width: 343px;
      display: flex;
      justify-content: end;
      button {
        width: 218px;
        height: 57px;
        border: none;
        border-radius: 4px;
        background-color: #0e8784;
        font-family: Fraunces;
        font-weight: 900;
        font-style: Black;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0px;
        text-align: center;
        color: #fefcf7;
      }
    }
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  #section3 {
    .container {
      width: 704px;
      gap: 64px;
      .inside1 {
        .line {
          width: 704px;
          gap: 20px;
        }
        .collapse2 {
          div {
            width: 704px;
            .accordion-body {
              flex-direction: row;
              justify-content: space-between;

              main {
                width: 215.66665649414062px;
                height: 170px;
                border-radius: 4px;
                padding: 20px;
                margin: 0;
                gap: 0;
                h3 {
                  height: 36px;
                }
                p {
                  width: 178.66665649414062px;
                  height: 78px;
                  margin: 0;
                }
              }
            }
          }
        }
      }

      .summaryBox {
        width: 704px;
        height: 291px;
        gap: 32px;
        .orderSummary {
          width: 704px;
          h3 {
            width: 602px;
            height: 72px;
            span {
              color: #0e8784;
            }
          }
        }
        .btnPlan {
          width: 704px;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  #section3 {
    .container {
      width: 1110px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: start;
      .inside1 {
        display: flex;
        gap: 128px;
        .line {
          width: 251.80865478515625px;
          height: 376px;
          gap: 24px;
        }
        .collapse2 {
          width: 730.1913452148438px;
          gap: 80px;

          div {
            margin: 0;
            width: 730.1913452148438px;
            .accordion-body {
              flex-direction: row;
              justify-content: space-around;
              main {
                width: 215.66665649414062px;
                height: 170px;
                border-radius: 4px;
                padding: 20px;
                margin: 0;
                gap: 0;
                h3 {
                  height: 36px;
                }
                p {
                  width: 178.66665649414062px;
                  height: 78px;
                  margin: 0;
                }
              }
            }
          }
        }
      }
      .summaryBox {
        width: 1110px;
        height: 291px;
        align-items: end;
        gap: 32px;
        .orderSummary {
          width: 704px;
          h3 {
            width: 602px;
            height: 72px;
            span {
              color: #0e8784;
            }
          }
        }
        .btnPlan {
          width: 704px;
        }
      }
    }
  }
}
footer {
  margin-top: 80px;
  margin-bottom: 20px;
  .container {
    width: 343px;
    height: 180.2021484375px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    opacity: 1;
    background-color: #333d4b;
    nav {
      display: flex;
      gap: 20px;
      opacity: 1;
      a {
        font-family: Barlow;
        font-weight: 700;
        font-style: Bold;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.92px;
        text-transform: uppercase;
        text-decoration: none;
        color: #83888f;
      }
    }
    .imgss {
      display: flex;
      gap: 25px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    .container {
      width: 100%;
      height: 120px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      nav {
        flex-direction: row;
        gap: 40px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  footer {
    .container {
      width: 100%;
      height: 120px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      nav {
        flex-direction: row;
        gap: 40px;
      }
    }
  }
}
.completed {
  background-color: #0e8784 !important;
  h3 {
    color: #fefcf7 !important;
  }
  p {
    color: #fefcf7 !important;
  }
}

.modal {
  .modal-dialog {
    max-width: 311px;
    margin: auto;
  }

  .modal-content {
    width: 311px;
  }
  .modal-header {
    width: 311px;
    background-color: #333d4b;

    h2 {
      font-family: Fraunces;
      font-weight: 900;
      font-style: Black;
      font-size: 28px;
      line-height: 120%;
      letter-spacing: 0px;
      color: #ffffff;
    }
  }
  .modal-body {
    width: 311px;
    padding-top: spacing/300;
    padding-right: spacing/200;
    padding-bottom: spacing/300;
    padding-left: spacing/200;
    padding: 16px;
    background-color: #fefcf7;
    span {
      color: #0e8784;
    }
    h5 {
      font-family: Fraunces;
      font-weight: 900;
      font-style: Black;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0px;
      color: #83888f;
    }
    p {
      font-family: Barlow;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0px;
      color: #333d4b;
    }
    .hiddeen{
        display: none;
    }
    .mobile {
      width: 279px;
      height: 57px;
      border-radius: corner-radius/6;
      padding-top: spacing/200;
      padding-right: spacing/400;
      padding-bottom: spacing/200;
      padding-left: spacing/400;
      background-color: #0e8784;
      color: #fefcf7;
      font-family: Fraunces;
      font-weight: 900;
      font-style: Black;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0px;
      text-align: center;
      border: none;
    }
  }
}
@media screen and (min-width: 768px) {
  .modal {
    .modal-dialog {
      width: 540px;
    }

    .modal-content {
      width: 540px;
    }
    .modal-header {
      width: 540px;
    }
    .modal-body {
      width: 540px;

      .mobile {
        display: none;
      }
      .hiddeen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        div h1 {
          font-family: Fraunces;
          font-weight: 900;
          font-style: Black;
          font-size: 32px;
          line-height: 113.99999999999999%;
          letter-spacing: 0px;
          color: #333d4b;
        }
        div button {
          width: 153px;
          height: 57px;
          border-radius: corner-radius/6;
          padding-top: spacing/200;
          padding-right: spacing/400;
          padding-bottom: spacing/200;
          padding-left: spacing/400;
          background-color: #0e8784;
          color: #fefcf7;
          font-family: Fraunces;
          font-weight: 900;
          font-style: Black;
          font-size: 18px;
          line-height: 140%;
          letter-spacing: 0px;
          text-align: center;
          border: none;
        }
      }
    }
  }
}
 